@font-face {
  font-family: 'DIN Next CYR';
  src: url('../fonts/DIN Next CYR Heavy/DIN Next CYR Heavy.eot');
  src: local('☺'), url('../fonts/DIN Next CYR Heavy/DIN Next CYR Heavy.woff') format('woff'), url('../fonts/DIN Next CYR Heavy/DIN Next CYR Heavy.ttf') format('truetype'), url('../fonts/DIN Next CYR Heavy/DIN Next CYR Heavy.svg') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
	font-family: 'DIN Next CYR';
	src: url('../fonts/DIN Next CYR Light/DIN Next CYR Light.eot');
	src: local('☺'), url('../fonts/DIN Next CYR Light/DIN Next CYR Light.woff') format('woff'), url('../fonts/DIN Next CYR Light/DIN Next CYR Light.ttf') format('truetype'), url('../fonts/DIN Next CYR Light/DIN Next CYR Light.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next CYR';
	src: url('../fonts/DIN Next CYR Light Italic/DIN Next CYR Light Italic.eot');
	src: local('☺'), url('../fonts/DIN Next CYR Light Italic/DIN Next CYR Light Italic.woff') format('woff'), url('../fonts/DIN Next CYR Light Italic/DIN Next CYR Light Italic.ttf') format('truetype'), url('../fonts/DIN Next CYR Light Italic/DIN Next CYR Light Italic.svg') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Next CYR';
	src: url('../fonts/DIN Next CYR Medium/DIN Next CYR Medium.eot');
	src: local('☺'), url('../fonts/DIN Next CYR Medium/DIN Next CYR Medium.woff') format('woff'), url('../fonts/DIN Next CYR Medium/DIN Next CYR Medium.ttf') format('truetype'), url('../fonts/DIN Next CYR Medium/DIN Next CYR Medium.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Next CYR';
	src: url('../fonts/DIN Next CYR Medium Italic/DIN Next CYR Medium Italic.eot');
	src: local('☺'), url('../fonts/DIN Next CYR Medium Italic/DIN Next CYR Medium Italic.woff') format('woff'), url('../fonts/DIN Next CYR Medium Italic/DIN Next CYR Medium Italic.ttf') format('truetype'), url('../fonts/DIN Next CYR Medium Italic/DIN Next CYR Medium Italic.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'DIN Next CYR';
	src: url('../fonts/DIN Next CYR Bold/DIN Next CYR Bold.eot');
	src: local('☺'), url('../fonts/DIN Next CYR Bold/DIN Next CYR Bold.woff') format('woff'), url('../fonts/DIN Next CYR Bold/DIN Next CYR Bold.ttf') format('truetype'), url('../fonts/DIN Next CYR Bold/DIN Next CYR Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
