html {
  font-family: DIN Next CYR;
}
.body {
  background:
  linear-gradient(
  rgba(#2b2b2b, 0.65),
  rgba(#2b2b2b, 0.65)
  ),
  url("../images/background.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y, repeat-y;
  color: $color-white;
  position: relative;

  &__wrapper {
    position: relative;
    z-index: 1;
  }
}


/* FULL PAGE.js OVERRIDES*/
.fp-controlArrow.fp-prev {
  width: 10%;
  height: 10%;
  background-image: url("../images/left_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}
.fp-controlArrow.fp-next {
  width: 10%;
  height: 10%;
  background-image: url("../images/right_arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: $color-white;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
  background-color: #FF2B06;
}

strong {
  font-weight: 900;
  color: white;
}
em {
  font-weight: 300;
  font-style: italic;
}

.section {
  padding: 0;
}


.font {
  &_title {
    font-weight: 900;
    text-align: center;
  }
  &_subtitle {
    font-weight: 300;
    text-align: center;
    @media (max-width: $small-screen) {
      font-size: 1rem;
    }
  }
  &_header {
    font-weight: 400;
    text-align: center;
  }
  &_content {
    font-weight: 300;
    text-align: justify;
    font-size: 1.2rem;
    @media (max-width: $small-screen) {
      font-size: 0.7em;
    }
  }
  &_label {
    font-weight: 600;
  }

  &_sup {
    font-weight: 900;
    font-size: 50%;
  }
}
.home {
  @include section-background;
  padding: 10% 7.5%;
  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__headings {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;  }
  &__title {
    @include dash(-1.5em, 2.5em);
    margin-top: 1.5em;
  }
}
.planets {
  @include section-background;
  &__container {
    height: 100%;
    padding: 0 5%;
  }
  &__planet {
    height: 100%;
    position: relative;
    transition: background-color 0.3s ease;
    @media (max-width: $medium-screen) {
      height: 50%;
    }
    &:hover {
      background-color: $color-light-grey;
    }
  }

  &__link {
    display: block;
    height: 100%;
    color: inherit;
    text-decoration: none;
    &:hover, &:focus, &:visited {
      text-decoration: none;
      color: inherit;
    }
  }
  &__thumb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20%;
    height: 25%;
    &__img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    @include dash(-1.5em, 1.5em);
    font-size: 1.3rem;

    @media (max-width: $small-screen){
      font-size: 0.7rem;
    }
    &__wrapper {
      text-transform: uppercase;
      text-align: center;
      margin-top: 25%;
    }
  }
}

.header{
  @include section-background;
}
.team, .internal, .speakers, .achievements, .social, .events  {
  @extend .header;
  &__logo {
    &__container {

    }
  }
  &__header {
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__title {
      @extend .font_title;
      @include dash(-1.5em, 1.5em);
      margin-top: 1.5em;
      @media (max-width: $small-screen) {
        font-size: 1.3rem;
      }
    }
  }
  &__body {
    padding-top: 7vh;
    padding-bottom: 7vh;
    &__title {
      @extend .font_header;
    }
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 100%;
    }
    &__content-container {
      padding: 2% 10%;
    }
    &__image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
      width: 80%;
      padding-top: 2.5%;
      &_full {
        height: 100%;
      }
    }
    &__image {
      height: 100%;
      max-width: 100%;
      filter: grayscale(0.3) brightness(0.8);
      @media (max-width: $small-screen) {
        height: auto;
        max-height: 100%;
      }
      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 100%;
        position: relative;
        &::before {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          // background-color: $color-image-overlay;
        }
      }
    }
  }
}

.team {
  &__logo__container {
    @include planet-section-header("../images/team_updates.svg", bottom);
  }
}

.internal {
  &__logo__container {
    @include planet-section-header("../images/internal_updates.svg", center 40%);
  }
}

.speakers {
  &__logo__container {
    @include planet-section-header("../images/speakers_updates.svg", top);
  }
}

.events {
  &__logo__container {
    @include planet-section-header("../images/events.svg", center 35%);
  }
}
.achievements {
  &__logo__container {
    @include planet-section-header("../images/achievements.svg", center 40%);
  }
}
.social {
  &__logo__container {
    @include planet-section-header("../images/social.svg", bottom);
  }
}

.star {
  @include star;
}
