$color-white: white;
$color-light-grey: rgba(#BDC3C7, 0.6);
$color-image-overlay:rgba(#2B2B2B, 0.3);
$color-lighter-grey: #c4c4c4;
$color-star-shadow: white;
$star-dim: rgba($color-lighter-grey, 0.5);
$star-bright: rgba(white, 0.9);
