{% extends "layouts/default.njk" %}

{% block content %}
  <div id="fullpage" class="body">

    <div class="home-wrapper section">
      <div class="background"></div>
      <div class="home">
        <div class="home__logo-container">
          <img src="images/logo.svg" alt="TEDxGUC Logo">
        </div>
        <div class="home__headings">
          <h1 class="font_title">
            In a galaxy far away , a community of <strong>TEDxers</strong> lived together in their own little world called <strong>TEDxTopia</strong>
            with one mission uniting them all: <em> Ideas worth spreading. </em>
          </h1>
        </div>
      </div>
    </div>

    <div class="planets section">
        <div class="planets__container container-fluid">
            <div class="col-md-2 col-xs-4 planets__planet">
              <div class="planets__thumb">
                <img class="planets__thumb__img" src="images/team_updates.svg" alt="Team Updates">
                <div class="planets__title__wrapper">
                  <h3 class="planets__title"> TEAM UPDATES </h3>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-4 planets__planet">
              <div class="planets__thumb">
                <img class="planets__thumb__img" src="images/internal_updates.svg" alt="Internal Updates">
                <div class="planets__title__wrapper">
                  <h3 class="planets__title"> Internal Updates </h3>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-4 planets__planet">
              <div class="planets__thumb">
                <img class="planets__thumb__img" src="images/speakers_updates.svg" alt="Speakers Updates">
                <div class="planets__title__wrapper">
                  <h3 class="planets__title"> Speakers Updates </h3>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-4 planets__planet">
              <div class="planets__thumb">
                <img class="planets__thumb__img" src="images/events.svg" alt="Events">
                <div class="planets__title__wrapper">
                  <h3 class="planets__title"> TED<span class="font_sup">x</span> Events </h3>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-xs-4 planets__planet">
              <div class="planets__thumb">
                <img class="planets__thumb__img" src="images/achievements.svg" alt="Achievements">
                <div class="planets__title__wrapper">
                  <h3 class="planets__title"> Achievements </h3>
                </div>

              </div>
            </div>
            <div class="col-md-2 col-xs-4 planets__planet">
              <div class="planets__thumb">
                <img class="planets__thumb__img" src="images/social.svg" alt="TEDx Social">
                <div class="planets__title__wrapper">
                  <h3 class="planets__title"> TED<span class="font_sup">x</span> Social </h3>
                </div>

              </div>
            </div>
        </div>
    </div>

  </div>
{% endblock %}
