{%import "templates/macro.njk" as macro%}


{{macro.social("Our Founders", "injaz.jpg",
"
Just because our founders graduated, it doesn’t mean they will stop doing great things.
<br><br>
Amr Selouky and Heba Abdelfattah: Amr and Heba participated with their team in Injaz’s Startup Egypt 2016 where their initiative CampUs received a 50,000 EGP award.

")}}


{{macro.social("Our Founders", "chameoleon.jpg",
"
Ahmed Al-Ashry, Ahmed Yousef Mokhtar, Yacoub Yassin & Ali Tarek El Gendy: Founded Chameleon Co-working Space, which since its opening in March,
 has been the home to many of TEDxGUC’s events like Boomrang and the Theme Generation.
")}}

{{macro.social("Our Board", "sally.jpg",
"
Sally: Our AD curator not only made it to TIQ’s Great Debate but also took the second place in it.
")}}

{{macro.social("Our Board", "unilever.jpg",
"
Yasmine Boghdady Has participated in Unilever’s The Quest where she became a finalist alongside her team and traveled to England to represent Egypt and the MENA region.
")}}

{{macro.social("Our Associates", "fouad.jpg",
"
Ahmed Fouad: Took the first place in TIQ’s semifinals and aced his way through to The Great Debate.
")}}

{{macro.social("Our Associates", "alia.jpg",
"
Alia Aboulgheit: Won chameleon’s interior design competition and was responsible for the way the place that was our home for the past few months looked.
")}}

{{macro.social("Our Associates", "heute.jpg",
"
Ahmed Amgad: Became the Finance Vice President for AIESEC’s Outgoing Preparation Seminar (OPS).
")}}

{{macro.social("Our Associates", "farida akram.jpg",
"
Farida Akram: Became the Logistics Vice President for AIESEC’s Outgoing Preparation Seminar (OPS)
")}}

{{macro.social("Our Associates", "mayar hossam.jpg",
"
Mayar Hossam: Has started Zorar, which is a startup that specializes in creating unique rings, with a percentage that goes for different monthly causes.
")}}

{{macro.social("Our Associates", "mayar morsy.jpg",
"
Mayar Morsy: Received Insider’s Booker award for column of the year for her column (جني الديوان)
")}}

{{macro.social("Our Associates", "yara.jpg",
"
Yara Sayed: Yara was part of the Entrepreneurship workshop at ISLC and at the final conference her project, which tackled the handcrafting of autistic people and others, won the first place.
")}}

{{macro.social("Our Associates", "yasmine.jpg",
"
Yasmine Yusuf: Took part as the camerawoman in a short movie named \"Parachute\" that won Best Editor, best Director, best Lead actress  at the 48 hour project awards. The movie also won a special mention award in Zawya.
")}}

{{macro.social("Our Associates", "sharkawy.jpg",
"
Mohamed ElSharkawy: Has had his work for Politics of Form II (Architecture course) exhibited in the Biennale di Vinizia, which is an annual event that took place this year in Italy that has different pavilions for showcasing different countries’ works, including chosen works of Egyptians.
")}}

{{macro.social("Our Associates", "nourhan.jpg",
"
Nourhan Adel: Has had her work for Politics of Form II exhibited in the Biennale di Vinizia and in Kafein in Downtown. She was also featured in Cairoscene for the idea behind her work.
")}}
