{%import "templates/macro.njk" as macro%}


{{macro.internal("TEDx Events In Egypt", false,
"
<strong> TEDxCairo University </strong>
<br><br>
The theme of the event was Decipher and it discussed topics like \"is every failure healthy?\", “Pursuing dreams” and “Role and Importance of Nanotechnology”.
<br><br>
<strong>
  TedxSadatCity
</strong>
<br><br>
The theme for the event was Cerebro. It took place on 24/4/2016 at the University of Sadat city with the participation of 13 speakers.
<br><br>
<strong>
  TEDxAUC
</strong>
<br><br>
TEDxAUC has returned with an event themed The Missing Link. The event was hosted by actor and radio host Tamer Adel and recently took place at the Malak Gabr Theater at the American University in Cairo.
<br><br>
<strong>
  TEDxYouth@ISEE
</strong>
<br><br>
The event which took place at International school of Elite Education was themed Impact. The speakers included students, school faculty members and university speakers such as Ahmed Samir.
<br><br>
<strong>
  TEDxCairo
</strong>
<br><br>
TEDxCairo’s event which took place on 28/5/2016 had the theme Prisma and included 14 speakers, one of which was Mohamed Rizkalla who was a speaker in last year’s Back and Forth. The large range of speakers included a squash player, a visual artist, a petrochemical engineer, a film and cinema writer and many more.

")}}


{{macro.internal("TED 2016 Conference", "ted conference.jpg",
"
This year, the TED conference, which was themed Dream, took place from the 15th to 19th of February in Vancouver.
<br><br>
The first day involved 2 sessions of Ted fellow talks and 12 other sessions were part of the conference.
The first session was the closing of the first day which was called “Our tomorrow”.
<br><br>
Day 2 included 4 sessions which started with radical repatterning with one of the speakers being Joe Gebbia co-founder at airbnb.
Imagination, invention, ingenuity was the 2nd session of the day followed by a session named lifehacks. The day was concluded with Deep memory session.
<br><br>
The next day had 3 sessions with the titles: Code Power, Imagine There’s No Countries and Nightmare? With a TED university session in between.
<br><br>
The 4th day of the conference started off with an inside TED session then 3 other sessions were conducted titled:
Outside the Box, The Dreams That Define Us, and Fantasies and Catalysts. The last day of the conference had the last session titled Wake up!
Which had the prime minister of Bhutan Tshering Tobagy to perfectly end the conference.
<br><br> 
The TED 2016 Conference was streamed live in nearly 300 events in numerous countries around the globe. ")}}
