
<h2>
  First planet
</h2>

    <h3>
      The Tedxers were divided among themselves into tribes, each tribe with its own rules and rituals. Take a look at what each tribe has been up to lately to get to know them more.
    </h3>


          <h4>
              Production tribe:
          </h4>

          <h5>
            After working on the Salon talks, the production team is now busy working with the first batch of speakers for the main event that we are all waiting for. One production associate
          </h5>

          <h4>
            Coaching tribe:
          </h4>
          <h5>
          After partnering up with the production team to coach the speakers for Salon Parasite, they are continuing the partnership in working with the main event speakers using the technicalities they acquired over the year.
          </h5>

          <h4>
            Research tribe:
          </h4>

          <h4>
            Fundraising tribe:
          </h4>
          <h5>
          After getting the first Sushi sponsor on campus and making our stomachs and taste buds happy, the Fundraising team is currently working on settling on the venue and date of the main event which will hopefully be one of the mega deals that TEDxGUC will be proud of. That is in addition to doing market research to find suitable partners for the main event that will save us money, yet offer unique services.
          </h5>


          <h4>
            Public relations tribe:
          </h4>
          <h5>
          PR team has been working in searching for and choosing preliminary sponsors, where the sponsors approached exposes TEDxGUC to our target audience, through the usage of their venues or social media’s coverage, thus creating a mutualistic relationship, benefit for benefit, no money involved. Also, PR team has been marketing off campus through activities to show the essence of TEdxGUC. Plus, the booths created where passive marketing is induced; the method chosen is dependent on the event’s availability.
          </h5>


          <h4>
            Associates Education tribe:
          </h4>
          <h5>
          After conducting the focus groups and focusing on the organizational development of the associates. The team is working on developing assessment tools to assess the learning needs of the associates upon the coming period. They are also focusing on applying the personalized learning cycles on the associates as for to complete the full learning cycle, which includes both the organizational and personal.
          </h5>


          <h4>
            Experience Management tribe:
          </h4>

          Social Media tribe:
          Design tribe:
          Logistics tribe:
