{%import "templates/macro.njk" as macro%}

{{macro.internal("TEDucation", "teducation.jpg", "
The TEDucation session is one of the important milestones for the organization that prepares us for another big milestone, the Theme Generation.
The session was given by 2 facilitators and 4 presenters from Associates Education team. The day started off with a workshop that covers all theme
misconceptions along with reinforcing an engaging culture.
<br><br>
Afterwards,
An introduction was given by the facilitators and then presenters tackled the following
aspects: The different kinds of licenses and their correlation with different kind of events and restrictions and discussed TEDxGUC’s licenses in specific.
The presenters then proceeded with explaining the rest of the content through the following set of questions: What is a Salon License, thus, Event?
And what is a theme? This was then followed up by an activity covering the different scopes of idea, topic and theme which lead to a fruitful discussion
and concluded the day.
")}}


{{macro.internal("Focus Groups", "focus.jpg", "
This year’s Focus Groups centered on reinforcing self-development through personalized learning cycles. This was conducted by Associates' Education team and associates were asked to pick a slot that suits them to attend the sessions.
<br><br>
 During the course of the focus group, associates had the chance to uderstand what self-development is, be exposed to PDCA cycle and Skill learning cycle. Rapid questions were also asked for better understanding of associates and usage of information gathered for personalized emails. The experience overall gave them an opportunity to experience \"self-introspection\" and \"self-development\".
")}}

{{macro.internal("Theme generation", "theme gene.jpg", "
The idea behind the theme generation is providing an experience for the whole organization, where we
broaden our minds and discuss all kinds of ideas, issues and experiments concerning various topics.
Because of its magnitude; a TEDucation was delivered by the Associates’ Education team to ensure that


the vibrant mentalities of each associate do not strand off and lose focus within the process.
<br><br>
The process was mainly based on TED’s actual methodology of creating a theme which could be viewed
on their website. The organization was divided into 8 groups each discussing different ideas, topics and
answering different questions which include the following: What is your vision for TEDxGUC’s mainevent,
How technology could be Egypt&#39;s hope for a better future, What is self-expression for you, State acultural problem in Egypt and how TEDxGUC
 could contribute towards solving it, Prepare a 45 secondspitch to explain ted to a person who is confused with the misconception,
If you would list 3 topics undertechnology, entertainment and design. What would they be, Describe a person who is a member in ourcommunity and finally,
 topics/ideas that reflects our community outward to the world.

 <br><br>
 After answering each of the following questions, the teams were grouped and started to come up with
different ideas and words that described each of the ideas or feelings that they felt were appropriate to
describe a situation. Then, all the words that were proposed by each group were set up for a vote and
Cascade became this year’s theme.
")}}
{{macro.internal("Boomerang", "boomrang.jpg", "
Boomerang was a day organized by Experience Management with a main objective of feedback. It was designed in a sense where feedback or 360 feedback acts as a channel of communication between the associate and the organization in order to ensure the full experience of the associate and to maximize the output of the organization as a whole.
<br><br>
Starting off the day, Experience Management Executive, Hossam Thabet, explained basically how the day is going to go and what’s the importance of the day. Then the teams were divided into different slots and each of the teams that weren’t taking part in the feedback sessions were simultaneously taking part in a series of activities laid out by the Experience Management team.
<br><br>
The feedback was divided into: executive, team, workload and organizational. The results were highly beneficial altering any negatively perceived situations to the better.
<br><br>
Simultaneously, the teams that weren’t in feedback sessions were taking part in activities. Starting off with the lip syncing battle between individuals and then teams as a whole. Then there was the food contest in which each associate had to spin a wheel for a base such as chips or yogurt, and another wheel for the topping such as milk or hot sauce. After that, each associate had to eat their plate and the one that finishes first wins. At the end of the day, we recollected and headed off to Eatery for a dinner after a long exciting yet beneficial day.
s")}}

{{macro.internal("Salon event", "parasites.jpg" , "
The salon working circle was composed of 39 associates along with the ten executives and Basel, curator of finance.
Accordingly, 50 different individuals contributed to the success of the event.
<br><br>
The first milestone of the Salon was to generate a theme for the event.
A workshop that discussed problems we face in our local community and their solutions lead to the theme “Parasite”.
<br><br>
Prior to the first meeting, Research and Coaching compiled two live speakers: Marwa Atef and her talk was titled 'Mutual benefit between Big Corporates and SMEs',
and Dalia Soliman, who talked about 'Dealing with People who Suffer from Autism'.
They were coached by members of coaching from outside the circle.
<br><br>
Meetings with the Talks division were also held to choose two screened talks that would be appropriate and related to the theme which were:
   1) What I Learned as Kid in Jail by Ismail Nazario and 2) Zombie Roaches and Other Tales of Parasites by Ed Yong.
Design associates then generated the visual theme with a specific style of typography and visual elements that exemplify the theme.
<br><br>
As for PR team, they chose Ahmed Sameh, founder of Emmkan, to be the host for the day.
<br><br>
Talks division then planed the discussions that would be conducted about both screened talks. On the other hand, associates Development,
 planned an activity that elaborates on the first talk by Nazario. The attendees were separated into 10 different groups
  (5 were assigned to design a jail based on punishment and 5 to design a jail based on rehabilitation). Then, both groups were merged to design the ultimate jail
  that our community needs.
  ")}}
