{% macro team(title, image, body)%}
<div class="team team__body slide" data-anchor="team-{{title}}">
  <div class="team__body__container">
    <h4 class="team__body__title">
      {{title}} Tribe
    </h4>
    <div class="team__body__image-container">
      <div class="team__body__image__wrapper">
        <img class="team__body__image" src="images/tedx/{{image}}" alt="{{title}} Team">
      </div>
    </div>
    <div class="team__body__content-container">
      <p class="font_content">
        {{body | safe}}
      </p>
    </div>
  </div>
</div>

{% endmacro %}


{% macro internal(title, image, body)%}
<div class="team team__body slide" data-anchor="{{title}}">
  <div class="team__body__container">
    {%if title%}
    <h4 class="team__body__title">
      {{title}}
    </h4>
    {% endif %}
    {% if image %}
    <div class="team__body__image-container">
      <div class="team__body__image__wrapper">
        <img class="team__body__image" src="images/tedx/{{image}}" alt="{{title}}">
      </div>
    </div>
    {% endif %}
    {% if body %}
    <div class="team__body__content-container">
      <p class="font_content">
        {{body | safe}}
      </p>
    </div>
    {% endif %}
  </div>
</div>

{% endmacro %}

{% macro social(title, image, body)%}
<div class="team team__body slide" data-anchor="{{title}}">
  <div class="team__body__container">
    {%if title%}
    <h4 class="team__body__title">
      {{title}}
    </h4>
    {% endif %}
    {% if body %}
    <div class="team__body__content-container">
      <p class="font_content">
        {{body | safe}}
      </p>
    </div>
    {% endif %}
    {% if image %}
    <div class="team__body__image-container team__body__image-container_full">
      <div class="team__body__image__wrapper">
        <img class="team__body__image" src="images/tedx/{{image}}" alt="{{title}}">
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endmacro %}
