{%import "templates/macro.njk" as macro%}


{{macro.social("Germany", "germany.jpg", false)}}

{{macro.social("Pyramids", "pyramids.jpg", false)}}
{{macro.social("Carting", "carting.png", false)}}
{{macro.social("Youth Speak Form", "youth.jpg", false)}}
{{macro.social("TEDxCairo", "x.jpg", false)}}
{{macro.social("TIQ’s Great Debate", "tiq.jpg", false)}}
{{macro.social("Graduation Photoshoot", "photoshoot.jpg", false)}}
{{macro.social("Sleepy Heads", "IMG_3035.JPG", "Sometimes they’re sleepy")}}
{{macro.social("Sleepy Heads", "IMG_3040.JPG", false)}}
{{macro.social("Sleepy Heads", "n.jpg", false)}}
{{macro.social("Sleepy Heads", "s.jpg", false)}}
{{macro.social("Sleepy Heads", "IMG_3090.JPG", false)}}
{{macro.social("Weirdos", "f.jpg", "And sometimes they’re weird")}}
{{macro.social("Weirdos", "IMG_3070.JPG", false)}}
{{macro.social("Weirdos", "IMG_2549.JPG", false)}}
{{macro.social("Weirdos", "IMG_3050.JPG", false)}}
{{macro.social("Weirdos", "IMG_2545.JPG", false)}}
{{macro.social("Weirdos", "IMG_1739.JPG", false)}}
{{macro.social("Weirdos", "IMG_1781.JPG", false)}}
{{macro.social("Weirdos", "d.jpg", false)}}
{{macro.social("Weirdos", "z.jpg", false)}}
{{macro.social("Weirdos", "e.jpg", false)}}
{{macro.social("TEDx FAMILY", "IMG_1790.JPG", "But they’re definetly one big happy family")}}
{{macro.social("TEDx FAMILY", "IMG_3024.JPG", false)}}
{{macro.social("TEDx FAMILY", "board.jpg", false)}}
{{macro.social("TEDx FAMILY", "t.jpg", false)}}
{{macro.social("TEDx FAMILY", "IMG_3089.JPG", false)}}
{{macro.social("TEDx FAMILY", "IMG_3093.JPG", false)}}
