{%import "templates/macro.njk" as macro%}


{{macro.internal("Elhassan Bilal Makled", "makled.jpg",
"
El Hassan gave a talk in 2014 under the title “Leveling up the Game Industry”. He talked about how a theme is vital in the entertainment industry and about his eternal love for gaming and how that helps him become a better game developer. Makled’s startup, Null Digital Illusion and Entertainment Studio, then went on to create several games and recently participated in Philipps-Universität Marburg's 3rd Marburg Pitch Competition winning third Place.
")}}
