{%import "templates/macro.njk" as macro%}


{{macro.internal("Elhassan Bilal Makled", "makled.jpg",
"
El Hassan gave a talk in 2014 under the title “Leveling up the Game Industry”. He talked about how a theme is vital in the entertainment industry and about his eternal love for gaming and how that helps him become a better game developer. Makled’s startup, Null Digital Illusion and Entertainment Studio, then went on to create several games and recently participated in Philipps-Universität Marburg's 3rd Marburg Pitch Competition winning third Place.
")}}

{{macro.internal("Dr. Wael Yassin", "wael yassin.png",
"
Dr. Wael Yassin gave a talk in 2013 and he now has his own youtube channel with total views exceeding 7,000. The channel talks about different business aspects, with one very interesting series under the title “Who runs the business”.")}}

{{macro.internal("Ahmed Al Kady", "kady 2.jpg",
"
Ahmed El Kady gave a talk in 2015 titled “How Disagreeing Can Make Society More Agreeable” which proposed the idea of debating as a culture and as a method of communication to create a more civilized community. It received plenty of praise by the attendees of Back and Forth and then was used in cross promoting by the Social Media team. The talk was promoted by TEDxUofT in Canada to increase TEDxGUC’s global exposure and exposure in TEDx circles around the world.")}}
