{%import "templates/macro.njk" as team%}
{{team.team("Production", "production.jpg", "After working on the Salon talks, the production team is now busy working with the speakers of the main event.
<br><br>
One production associate is teamed up with 2 coaching associates who meets up with a speaker and then produces the talk using slides, audio/video and on stage techniques for the best quality of talks.")}}

{{team.team("Coaching", "coaching.jpg", "After partnering up with the production team to coach the speakers for Salon Parasite, they are continuing the
partnership in working with the main event speakers using the technicalities they mastered over the year to bring out talks and ideas that are truly worth spreading.
")}}

{{team.team("Research", "research.jpg",
"
Research team is where it all starts. They were responsible for bringing us Dhalia Soliman and Marwa Atef for the Salon event
 and currently they are searching for and contacting speakers for the main event and passing the contacts to the coaching and production teams.
")}}

{{team.team("Fundraising", "FR.jpg",
"
After getting the first Sushi sponsor on campus and making our stomachs and taste buds happy,
 the Fundraising team is currently working on settling on the venue and date of the main event.
 <br><br>
  That is in addition to doing market research to find suitable partners for the main event that will save us money, yet offer unique services.
")}}

{{team.team("Public Relations", "PR.jpg",
"
PR team has been working on searching for and choosing preliminary sponsors, where the sponsors approached exposes TEDxGUC to our target audience,
 through the usage of their venues or social media’s coverage, thus creating a mutualistic relationship, benefit for benefit, no money involved.
<br><br>
  Also, PR team has been marketing off campus through activities to show the essence of TEdxGUC.
   Plus, the booths created where passive marketing is induced; the method chosen is dependent on the event’s availability.
")}}

{{team.team("Associates Education", "AE.jpg",
"
After conducting the focus groups and focusing on the organizational development of the associates.
 The team is working on developing assessment tools to assess the learning needs of the associates upon the coming period.
 <br><br>
 They are also focusing on applying the personalized learning cycles on the associates as for to complete the full learning cycle,
 which includes both the organizational and personal.
")}}

{{team.team("Experience Management", "EM.jpg",
"
Experience Management has been concentrated on the implementation of the HR system with the launch of the Boomerang day,
monitoring the activity within the organization and ensuring the delivery of the full experience to the associates.
<br><br>
To ensure such delivery, Experience Management has been developing technical checkup methods along-side all of the executives,
in order to assess the technicalities that have been taught and learnt.
<br><br>
These technical checkups were then processed and evaluated; their outcome was later on embedded within the work style and ethics of each team.
<br><br>
The boomerang day on the other hand, mainly revolved around feedback collection and how we could develop and improve the experience within the organization.
<br><br>
Reports were then formed and actions were taken to improve and ensure the delivery of the best experience to each associate.
")}}

{{team.team("Social Media", "SM.jpg",
"
The social media team has been meeting to brainstorm for marketing ideas to make the main event shine online.
 Such ideas come about to ensure our event goes viral and attracts our target audience of curious souls who seek to learn and network.
 <br><br>
  After working all year to establish TEDxGUC as a brand whose online content is consistently highlighting our vision of 'ideas worth spreading,'
  they are pleased to see numerous recent messages from people excited to take part in our event as attendees and speakers.
  <br><br>
  After the online marketing event is done, the social media team will brainstorm for ideas and roles during the event
   to ensure a holistic coverage of the event in the most professional and 'artsy' way they can.
")}}

{{team.team("Design", "DIM.jpg",
"
After working on the visuals of the salon event, the design team is currently working on creating the visual theme of the main event
 that will guide them to create every aspect of the attendee experience.
 <br><br>
  They conducted several workshops to settle on a direction and a solid brand for the event
  and have recently released the first of these designs on social media for announcing the theme of the main event.
")}}

{{team.team("Logistics", "logistics.jpg",
"
Logistics team has been part of almost every project and working circle this organization has seen since the year has started. The Salon event would not have been carried out the way it did if it wasn’t for their efforts and now they are currently immersed in getting the Kit ready for us, in addition to being in multiple other working circles.
")}}

{{team.team("The Board", "board tribe.jpg",
"
Our Chairman, Curators and Executives. The extraordinary men and women behind it all that are guiding this organization from success to success.
")}}
